body {
  font-family: 'Montserrat', sans-serif;
}
#question {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  flex-grow: 1;
  border: solid blue;
  font-size: 2em;
  text-align: center;
}

.response {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-grow: 1;
  border: solid red;
  overflow: hidden;
  padding: 2%;
}

.contents {
  flex-basis: auto;
  align-self: center;
  border: solid purple;
  padding: 15vh;
  margin: 2%;
  font-size: 1.5em;
  overflow: hidden;

}

.happy_response:hover {
  background: yellow;
  color: white;
}

.happy_response:active {
  background: black;
  color: white;
}

.sad_response:hover {
  background: blue;
  color: white;
}
.sad_response:active {
  background: black;
  color: white;
}
.hidden{
  display: none;
}
.past_data{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  flex-grow: 1;
  border: solid blue;
  font-size: 1.2em;
  text-align: center;
};

.table_data{
  flex-basis: auto;
  align-self: center;
  border: solid purple;
};
